.full-hero {
  height: 110vh;
  width: 98.5vw;
  background-color: blue;
}

.left-model {
  margin-top: -2rem;
}

.right-model {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 23.5rem;
  margin: 3.25rem 8rem 2rem 0 ;
  padding: 1rem 0 0 0;
  width: 18rem;
}

.arrow {
  margin-top: -5rem;
  margin-left: 32rem;
  width: 7.5rem;
  border: none;
  animation: go-back 1s;
  animation-iteration-count: infinite;
}

@keyframes go-back {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0)
  }
}

button {
  height: 1.8rem;
  padding: 5px;
  background-color: #00A870;
  border-radius: 5px;
  border: none;
  color: white;
}

.label {
margin-top: 5px;
}

.input {
  padding: 5px;
  height: 1rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.right-model hr {
  border: 0.5px solid black;
  width: 4rem;
  margin: 4px 0 4px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.title-hero {
  color: white;
  font-weight: 400;
  font-size: 2.50rem;
  margin: 13rem 0 0 5rem;
  width: 34.5rem;
  letter-spacing: -2px;
}

.paragraph-hero {
  margin-left: 5rem;
  color: white;
  width: 34rem;
}

.market {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.market p {
  margin-top: 1rem;
}

.separator {
  margin: 2rem 0 0 12rem;
  width: 50rem;
}

.home {
  background-color: #F2F2F2;
}

.diary {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.diary h3 {
  font-size: 2rem;
  margin: 2rem 0 4rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 23rem) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  iframe {
    display: none;
  }

  header .nav {
    display: none;
  }

  .button-header {
    display: inline;
    color: white;
    background-color: #00A870;
  }
  
  .left-model {
    padding-bottom: 2rem;
    width: 100%;
  }
  
  .title-hero {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 1rem;
    width: 80%;
    text-align: center;
  }

  .paragraph-hero {
    width: 80%;
    margin-left: 2rem;
  }

  .right-model {
    border-radius: 0px;
    padding: 2rem 0 2rem 0;
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
  }

  .container-text {
    margin-top: 3rem;
    width: 100%;
  }

  .container-img img {
    width: 100%;
  }

  .separator {
    width: 18rem;
    margin-left: 2rem;
  }

  .market {
    padding-left: 2rem;
    width: 80%;
  }

  .market-form {
    display: flex;
    flex-direction: column;
  }

  #market-email {
    margin: 0.25rem 1rem 1rem 0;
  }

  .prices {
    display: flex;
    flex-direction: column;
  }

  .options-prices {
    margin-left: -3rem;
  }

  .options-prices input {
    margin-bottom: 0.5rem;
  }

  .options-prices button {
    margin-left: 5rem;
  }

  .options-prices span {
    margin: 1rem 0 2rem 1rem;
  }

  .description-prices {
    width: 130%;
    margin-left: -3.5rem;
  }

  .framework {
    width: 80%;
    margin-left: -2rem;
  }

  .framework img {
    display: none;
  }
}

